* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background: linear-gradient(135deg,
        rgb(36, 36, 36) 0%,
        rgb(32, 32, 32) 100%);
}

.bg-image-container {
    position: relative;
    background-image: url("../img/bg-image-blur.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1400px;
    height: 300px;
}

.page-title {
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    font-size: 80px;
    color: white;   
}

.header {
    width: 100%;
    line-height: 45px;
    height: 45px;
    background-color: #3A3A3A;
    overflow: hidden;
    background: -webkit-linear-gradient(#3A3A3A, #292828); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A3A3A, #292828); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A3A3A, #292828); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A3A3A, #292828); /* Standard syntax */
}


.header ul a {
    width: 100px;
    color: #FFFFFF;
}

.header-button:hover {
    background-color: #686868;
}

/* All links in the header have this style */
.header-button {
    padding: 0px 40px 15px;
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.header-title { 
    font-family: "Gill Sans MT";
    color: white;
    font-size: 40px;
    padding-left: 260px;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

.header-button {
    padding: 0px 40px 15px;
    color: white;
    text-decoration:none;
    font-size: 20px;
    margin-top: 0;
    float: right;
}

.content-container {
    background: #E0E0E0;
    margin: auto;
    width: 1400px;
    height: 1000px;
}

nav {
    width: 100%;
    line-height: 45px;
    height: 45px;
    background-color: #FFFFFF;
}

.top-scorers-title {
    display: inline-block;
    float: right;
    padding: 0 240px 0 240px;
    background: orange;
}

/* still need to work on this container */
.top-scorers-container {
    width: 500px;
    background: grey;
}

nav ul a {
    width: 100px;
    color: #000000;
}

nav ul li {
    display: inline-block;
}
nav ul li a:hover {
    border-bottom: 2px solid orange;
}

/* All links in the header have this style */
nav ul li a {
    padding: 0px 40px 15px;
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.main-games-text { 
    font-weight: bold;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 50px;
    color: #8F8F8F;
}