* {
    margin: 0;
    text-rendering: optimizeLegibility;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background-image: url("../img/bg-image-blur.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10000px;
    background-attachment: fixed;
}

.whole-screen {
    width: 100%;
    height: 100%;
}

.success-container {
    margin: auto;
    background-color: #3A3A3A;
    width: 500px;
    height: 500px;
    margin-top: 11%!important;
}

.success-text {
    color: white;
    margin: auto;
    padding: 100px;
}